# spidev
CONFIG_SPI_SPIDEV=y

# spi nor
CONFIG_MTD=y
CONFIG_MTD_OF_PARTS=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_M25P80=y

# wireless core
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_CFG80211_WEXT=y

# wireless drivers
CONFIG_WLAN=y

CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y

# ondemand cpufreq governor
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

CONFIG_RFKILL=y
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_CRYPTO_DEV_SUN8I_SS=y
CONFIG_CRYPTO_DEV_SUN8I_SS_DEBUG=y
CONFIG_CRYPTO_DEV_SUN8I_SS_PRNG=y
CONFIG_CRYPTO_DEV_SUN8I_SS_HASH=y
CONFIG_RT2X00=y
CONFIG_RT2800USB=y
CONFIG_RT2800_LIB=y

